
  .input {
    outline: none;
    border-radius: 5px;
    border: 2px solid black;
    padding: 5px;
    text-indent: 10px;

    &:focus {
      border: 2px solid green;
      border-radius: 5px;
    }
  }

