.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 500px;
  background: rgb(173, 173, 173);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
  transition: 0.1s ease-in;
  box-shadow: 0px 0px 11px 5px rgba(214, 153, 41, 0.367) inset;
  &:hover {
    background: rgb(224, 223, 223);
  }

  .cardImgWrapper {
    .cardImg {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      padding: 5px;
      width: 100%;
      height: 213px;
    }
    .cardBrand {
      position: absolute;
      font-size: 0.9rem;
      top: 36%;
      right: 6px;
      background: black;
      color: azure;
      padding: 3px 10px;
      border-radius: 15px;
    }
  }

  .cardTitle {
    text-align: center;
    display: block;
    padding: 0 5px;
    margin: 0 7px;
    background: gray;
    font-size: 1.1rem;
  }

  .cardDescription {
    text-align: justify;
    margin: 5px 0;
    padding: 0 15px;
  }

  .cardNumberWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    padding: 0 25px;
    .cardPrice {

    }

    .cardRating {
      display: block;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50px;
    }
  }

  .cardButtonWrapper {
    margin-top: auto;

    align-self: center;
    width: 100%;
    padding: 15px;
    .cardButton {
      width: 100%;
      cursor: pointer;
      border: 2px solid transparent;
      border-radius: 15px;
      transition: .2s ease-in;
      &:hover {
        background-color: orange;
        border: 2px solid rgb(154, 100, 0);
      }
    }
  }

}
