.inputWrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cardsWrapper {
  display: flex;
  margin: 0 auto 50px;
  padding: 0 20px;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  margin-top: 30px;
  max-width: 1120px;
}
